= form_for @card do |f|
  - if @card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@card.errors.count, "error")} prohibited this card from being saved:"
      %ul
        - @card.errors.full_messages.each do |message|
          %li= message
  .field
    カテゴリー：
    = f.text_field :category
  .field
    表（出題）：
    = f.text_area :omote
  .field
    裏（解答）：
    = f.text_area :ura
  .actions
    = f.submit 'Save'
