%h1 Listing cards

%table
  %thead
    %tr
      %th カテゴリー
      %th 表(出題)
      %th 裏(解答)
      %th 正答率

  %tbody
    - @cards.each do |card|
      %tr
        %td= card.category
        %td= card.omote
        %td= card.ura
        %td= link_to 'Edit', edit_card_path(card)
        %td= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to '暗記カードを新規作成する', new_card_path
