%p#notice= notice

%p
  %b Omote:
  = @card.omote
%p
  %b String:
  = @card.string
%p
  %b Ura:
  = @card.ura
%p
  %b String:
  = @card.string

= link_to 'Edit', edit_card_path(@card)
\|
= link_to 'Back', cards_path
